# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""


# APP_URL: The URL where this applet is hosted.

APP_URL="https://gemini.google.com/app"

# Clé API Steam secrète pour récupérer les jeux possédés par l'utilisateur
STEAM_API_KEY=""